<div class="dropdown-menu"> 
    <a href="/admin?table=event" class="list-group-item">Мероприятие</a>
    <a href="/admin?table=eventprogram" class="list-group-item">Мероприятие-Программа</a>
    <a href="/admin?table=program" class="list-group-item">Программа</a>
    <a href="/admin?table=programperformance" class="list-group-item">Программа-Выступление</a>
    <a href="/admin?table=performance" class="list-group-item">Выступление</a>
    <a href="/admin?table=animalperformance" class="list-group-item">Животное-Выступление</a>
    <a href="/admin?table=workerperformance" class="list-group-item">Работник-Выступление</a>
    <a href="/admin?table=animal" class="list-group-item">Животное</a>
    <a href="/admin?table=animalworker" class="list-group-item">Животное-Работник</a>
    <a href="/admin?table=worker" class="list-group-item">Работник</a>
    <a href="/admin?table=tickettype" class="list-group-item">Тип билета</a>
    <a href="/admin?table=ticket" class="list-group-item">Билеты</a>
    <a href="/admin?table=users" class="list-group-item">Пользователи</a>   
</div>